p{
    font-family: 'Red Hat Text', sans-serif;
}
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Aleo', serif;
    font-size: 16px;
    background:rgb(192, 192, 192);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.btn{
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    color: #FFFFFF;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
header{
    margin: 0 auto;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.container{
    width: 1440px;
    margin: 0 auto; 
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.nav__logo{
    background-image: url(../images/logo.svg);
    width: 216px;
    height: 31px;
}
.menu{
    
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Red Hat Text', sans-serif;
    display: flex;
}
.menu__item{
    margin-right: 42px;
}
/* -----header-------- */
main{
    margin: 0 auto;
}
.preview{
    background-image: url(../images/firstBack.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.preview__inner{
    padding: 122px 428px 221px 120px;
}
.preview__title{
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.preview__desc{
    color: #FFFFFF;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 46px;
}
.form{
    position: relative;
}
.form input{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    width: 892px;
    height: 95px;
    padding-left: 41px;
    position: absolute;
}
.form input::placeholder{
    color: #F2785C;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
}
.preview-btn{
    position: absolute;
    padding: 10px 32px;
    font-weight: 500;
    font-size: 24px;
    right: -23px;
    top: 24px;
}